# Running ArtiCull as a module

This notebook demonstrates how to run ArtiCull as a python module on a sample MAF file and BAM file.
It includes:

1. downloading necessary resources (which only needs to be done the first time running ArtiCull)
2. initializing articull
3. extracting features
4. classifying variants

Before starting, ensure that 

1. You've set up an environment that includes all dependencies (see documentation)
2. The articull module is findable in your python path

## ArtiCull Setup

This step may take a few minutes. However, this only needs to be done **the first time** articull is run. If the files already exist, download will be skipped automaticaly. 

Please note that this downloads ~1Gb of data and expands to ~5Gb when uncompressed.

In [7]:
from articull import download_resources
resources_dir="../resources"
download_resources(resources_dir)

Mappability files already exist in ../resources. Skipping download and setup. Use parameter force=True to force re-download if files are incomplete or corrupted.

# Input Files

In [8]:
maf = 'example.maf'
bams = ['example.bam']
output_prefix = './example'
model_dir = "../models/preprint_model/"

# Run ArtiCull

In [9]:
from articull import setup as articull_setup, classify_variants, extract_features

number_cores = 4
progress_bar = True # Display dynamic progress bar
articull_setup(number_cores, progress_bar)

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [10]:
feature_file = extract_features(maf, bams, resources_dir, output_prefix)

1. Reading Variants from: example.maf

2. Extracting Read Features from: ['example.bam']

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=25), Label(value='0 / 25'))), HBoxâ€¦

/home/satasg/miniconda3/envs/articull-env3/lib/python3.11/site-packages/numpy/core/_methods.py:206: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/home/satasg/miniconda3/envs/articull-env3/lib/python3.11/site-packages/numpy/core/_methods.py:163: RuntimeWarning: invalid value encountered in divide
  arrmean = um.true_divide(arrmean, div, out=arrmean,
/home/satasg/miniconda3/envs/articull-env3/lib/python3.11/site-packages/numpy/core/_methods.py:198: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/home/satasg/miniconda3/envs/articull-env3/lib/python3.11/site-packages/numpy/core/_methods.py:206: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/home/satasg/miniconda3/envs/articull-env3/lib/python3.11/site-packages/numpy/core/_methods.py:198: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

3. Extracting Mappability from: ../resources/mappability

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1), Label(value='0 / 1'))),))

4. Outputting Features to: ./example_features.tsv

In [11]:
result_file = classify_variants(model_dir, feature_file, output_prefix)

1. Loading model from: ../models/preprint_model/
2. Classifying data from: ./example_features.tsv
	0/100 variants completed

	100/100 variants completed

In [12]:
import pandas as pd
df = pd.read_table(result_file, sep='\t', header=0, index_col=0)
df

            pos ref_allele alt_allele    result  prob_artifact
chrm
1     201206823          G          A  ARTIFACT       0.972918
1     201209319          T          C  ARTIFACT       0.990623
1     201226655          T          C      SKIP            NaN
1     201441989          G          C      PASS       0.017839
1     201942192          C          G      PASS       0.480429
...         ...        ...        ...       ...            ...
1     229973065          G          T  ARTIFACT       0.997773
1     230310247          A          C      PASS       0.012242
1     230686908          T          G  ARTIFACT       0.601840
1     230751707          C          T  ARTIFACT       0.553438
1     230982660          T          A  ARTIFACT       0.990913

[100 rows x 5 columns]